.our-contents {
  padding: 2rem;
}
.contents-title-box {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border: 1px solid #5A5A5A;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #F6F6F6;
  background-color:#F6F6F6; 
}
.contents-title {
  position: relative;
  left: 0%;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.contents-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contents-box {
  flex: 1;
  width: 250px;
  height: 300px;
  padding: 1rem;
  border: 1px solid #5A5A5A;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}
.contents-box > a {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-align: center;
}
.contents-meta {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.contents-text {
  width: 90%;
  height: 57%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  overflow: hidden;
}
