* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Arial", sans-serif;
	line-height: 1.6;
	background-color: white;
	color: black;
}

.navigation {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid black;
}

.logo {
	position: relative;
	left: 3%;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.notification {
	margin-top: 1px;
	position: relative;
	left: 62%;
}
.account-page {
	position: relative;
	left: 64%;
	padding: 0.5rem 0.5rem;
	background-color: white;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
}
.logout {
	position: relative;
	left: 65%;
	padding: 0.5rem 1rem;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}
.login {
	position: relative;
	left: 75.7%;
	padding: 0.5rem 1.5rem;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}
