* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Arial", sans-serif;
	line-height: 1.6;
	background-color: white;
	color: black;
}

.navigation {
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid black;
}

.logo {
	position: relative;
	left: 3%;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.notification {
	margin-top: 1px;
	position: relative;
	left: 62%;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  justify-content: center;
  align-items: flex-start;
}
.popup-content {
  border: 1px solid black;
  background: #fff;
  padding: 20px;
  width: 300px;
  position: relative;
  left: 30%;
  top: 12%;
}
.alert-title-line {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #5A5A5A;
}
.alert-list-title {
  position: relative;
  left: 1%;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}
.check-alert-all {
  display: inline;
  text-align:center;
  position: relative;
  left: 15%;
  width: 4rem;
  padding: 0.2rem 0;
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 450;
  font-size: 0.8rem;
  border: 1px solid #5A5A5A;
  border-radius: 5px;
  background-color: white;
}
.delete-alert-all {
  display: inline;
  text-align:center;
  position: relative;
  left: 17%;
  width: 4rem;
  padding: 0.2rem 0;
  color: black;
  text-decoration: none;
  font-weight: 450;
  font-size: 0.8rem;
  border: 1px solid #5A5A5A;
  border-radius: 5px;
  background-color: white;
}
.close-button {
  position: absolute;
  top: 10px; right: 15px;
  cursor: pointer;
  font-size: 20px;
}
.alert-content-line {
  margin: 0.5rem;
  position: relative;
  overflow: scroll;
}
.alert-category-N {
  display: inline;
  position: relative;
  left: 0;
  color: black;
  font-size: 1rem;
}
.alert-category-Y {
  display: inline;
  position: relative;
  left: 0;
  color: #5A5A5A;
  font-size: 1rem;
}
.delete-alert {
  display: inline;
  position: relative;
  left: 20%;
  color: #5A5A5A;
  font-size: 1rem;
}
.alert-content {
  position: relative;
  color: #5A5A5A;
  font-size: 1rem;
}

.account-page {
	position: relative;
	left: 64%;
	padding: 0.5rem 0.5rem;
	background-color: white;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
}
.logout {
	position: relative;
	left: 65%;
	padding: 0.5rem 1rem;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}
.login {
	position: relative;
	left: 75.7%;
	padding: 0.5rem 1.5rem;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5rem;
  padding-top: 6rem;
  background-color: #F6F6F6;
  font-size: 0.9rem;
  overflow: scroll;
}
.footer-info {
  margin-bottom: 1rem;
}
.footer-info > h1 {
  margin-bottom: 1rem;
}
.footer-info > p {
  color: #5A5A5A;
}
.footer-links {
  margin-top: 0.5rem;
  margin-left: 26rem;
  display: flex;
  gap: 5rem;
}
.footer-link > h3 {
  margin-bottom: 1rem;
}
.footer-link > a {
  color: #5A5A5A;
  text-decoration: none;
}
