<footer class="footer">
  <span class="footer-info">
    <h1>MirrorLit</h1>
    <p>성신여자대학교 25-1학기 서버시스템구축실습</p>
    <p>2팀 _ 이민아 조희연 신예진 임채슬 손소연</p>
  </span>
  <span class="footer-links">
    <span class ="footer-link">
      <h3>서비스</h3>
      <a href="#">소개</a><br>
      <a href="#">문의</a>
    </span>
    <span class ="footer-link">
      <h3>기능</h3>
      <a href="/articles">최신 이슈</a>
    </span>
    <span class ="footer-link">
      <h3>계정</h3>
      <a href="#">서비스 이용약관</a><br>
      <a href="#">개인정보처리방침</a>
    </span>
  </span>
</footer>
