<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style/layout.css">
</head>

<body>
  <header class="header">
    <a href="/" class="logo">MirrorLit</a>
  </header>

  <%- body %>
    <!-- <div id="footer">footer</div> -->
</body>

</html>