<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
  <title>MirrorLit</title>
  <link rel="shortcut icon" type="image/png" href="/images/icon.png">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/article.css">
  <link rel="stylesheet" href="/style/articleList.css">
  <link rel="stylesheet" href="/style/home.css">
  <link rel="stylesheet" href="/style/factCheck.css">
  <link rel="stylesheet" href="/style/commentForm.css">
  <link rel="stylesheet" href="/style/comment.css">
  <link rel="stylesheet" href="/style/auth.css">
  <link rel="stylesheet" href="/style/mypage.css">
</head>

<body>
  <%- include('navigation', {commentalerts: commentalerts}) %>
    <%- body %>
      <%- include('footer') %>

</body>

</html>