<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
  <title>MirrorLit</title>
  <link rel="shortcut icon" type="image/png" href="/images/icon.png">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/article.css">
  <link rel="stylesheet" href="/style/articleList.css">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <nav class="navigation">
    <a class="logo" href="/home">MirrorLit</a>
    <a class="notification" href="#">
      <img src="/images/notification.png" width="35">
    </a>
    <a class="account-page" href="#">
      마이페이지
    </a>
    <a class="logout" href="#">
      로그아웃
    </a>
    <a class="login" href="#">
      로그인
    </a>
  </nav>

  <%- body %>

</body>
</html>
