<div class="reset-box">
   <h3>이메일로 비밀번호 찾기</h3>
   <form action="/users/reset" method="POST">

   <label for="emaile">이메일</label>
   <input type="email" name="email" placeholder="이메일 입력" required>

   <label for="emailCode">인증코드</label>
   <input type="text" name="emailCode" id="emailCode" placeholder="인증코드 입력" required>

   <button type="submit">확인</button>

   </form>
 </div> <div class="reset-box">
   <h3>이메일로 비밀번호 찾기</h3>
   <form action="/users/reset" method="POST">

   <label for="emaile">이메일</label>
   <input type="email" name="email" placeholder="이메일 입력" required>

   <label for="emailCode">인증코드</label>
   <input type="text" name="emailCode" id="emailCode" placeholder="인증코드 입력" required>

   <button type="submit">확인</button>

   </form