<div class="reset-box">
    <h3>비밀번호 변경</h3>
    <form action="/users/reset2" method="POST">
        <!-- 이메일 정보 전달 -->
        <input type="hidden" name="email" value="<%= user.email %>">

        <label for="inputPassword">비밀번호</label>
        <input type="password" name="password" id="inputPassword" required>

        <label for="confirmPassword">비밀번호 확인</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>

        <button type="submit">비밀번호 변경</button>
    </form>

</div>